@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

body {
  min-height: 150px;
  background-image: linear-gradient(rgba(24, 24, 24, 0.7), rgba(24,24,24,0.7)), url(Background5.jpg);
  background-size: auto;
  background-position: center;
  color: white;
}

html {
    scroll-behavior: smooth;
}
  
.title-logo {
  display: inline-block;
  font-size: 18px;
  text-align: left;
  padding-top: 10px;
  letter-spacing: 2px;
  color: #e42f1b;
}
  
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1.4rem 1 rem;
    position: relative;
    font-weight: 500;
}
  
.navbar-expand-lg .navbar-nav .nav-link.active {
  color: #e42f1b;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  grid-gap:35px;
  box-sizing: border-box;
}

.article-section {
  font-family: 'PT Sans', sans-serif;
  font-size: 100%;
  color: black;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  margin: 2rem auto;
  max-width: calc(100% - 80px);
}

.article-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
  gap: 2rem;
  padding-top: 60px;
}

.article-image {
  margin: 0;
  overflow: hidden;
}

.article-image img {
  max-width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}

.article-card {
  background: white;
  border-radius: 20px;
  transition: 0.3s;
  box-sizing: border-box;
}

.article-card:hover {
  box-shadow: 0 4px 20px 0 #e42f1b;
  cursor: pointer;
}

.article-content {
  padding: 1rem;
}

.article-content .card-category {
  font-size: 0.875 rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: #6b82a7;
  display: block;
  text-decoration: none;
}

.article-content .card-title {
  margin: 1rem 0;
  color: #22447b;
}

.article-content .card-excerpt {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #6b82a7;
  margin: 0;
}

.button {
  padding-top: 63px;
  padding-bottom: 8px;
  padding-left: 15px;
}

.button .col {
  display: inline-block;
} 

.button .btn-1 {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 9rem;
  background: #e42f1b;
  text-decoration: none;
  outline: none;
  border-color: transparent;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 0.9rem;
  border-radius: 50px;
  cursor: pointer;
}

.button .btn-1:hover {
  background-color: #f54330;
}

.button .btn-2 {
  margin-left: 1146px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 9rem;
  background: #e42f1b;
  text-decoration: none;
  outline: none;
  border-color: transparent;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 0.9rem;
  border-radius: 50px;
  cursor: pointer;
}

.button .btn-2:hover {
  background-color: #f54330;
}

h5 {
  margin-left: 300px;
  color: #b1b4bd;
}